include LICENSE.txt
include README.rst
include CHANGELOG.rst
include requirements.txt

# If including data files in the package, add them like:
include pomsimulator/pomsimulator/inputs/W_Set_PBE_test/*out
include pomsimulator/pomsimulator/inputs/W_Set_PBE_molfiles/*mol
include pomsimulator/pomsimulator/utilities/np_IM_test.csv

